../../../.VirtualBox/
        ../../../.bash_history
        ../../../.gitconfig
        ../../../.ipython/
        ../../../.jupyter/
        ../../../.lesshst
        ../../../.ssh/
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../../../Downloads/
        ../../../Favorites/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
        ../../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
        ../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../Apps/
        ../3rd Sem Routine.pdf
        ../Basic Dev/
        ../Coding/
        ../Computer Architecture & Organisation/
        ../DSA/
        ../Das & Pal Mathematics 3rd sem.pdf
        ../FigmaSetup.exe
        ../First_Question.docx
        ../Full Stack Development-Digital Notes.pdf
        ../Fullstack Practice/
        ../Hackwars JGEC.pdf
        ../ICIC - CFI/
        ../JS Tutorial/
        ../MinGW Installer.lnk
        ../Netflix.lnk
        ../OneDriveSetup.exe
        ../OneNote.lnk
        ../Only HTML,CSS/
        ../PANDU_the_AI/
        ../Paint - Shortcut.lnk
        ../Photography/
        ../PowerPoint.lnk
        ../Project/
        ../Reg_It_27/
        ../Tailwind CSS/
        ../Testing different Frontend Framework/
        ../Word.lnk
        ../cityservice/
        ../collegeDays/
        ../currency_converter/
        ../desktop.ini
        ../hackathon/
        ../hackathon_1/
        ../hackwarJGEC/
        ../jgecMemories/
        ../portfolio/
        ../python-3.13.0-amd64.exe
        ../random_task/
        ../resumebuilder/
        ../trackedFolder/
        ../../Documents/
        ../../desktop.ini
        ../../../Pictures/
        ../../../Python Lab/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Site_For_Flate/
        ../../../Videos/
        ../../../npm-cache/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini