:root {
    --bg-color: rgb(81, 81, 240);
    --text-color: white;
    --header-bg: #5691d0;
    --border-color: rgb(0, 184, 245);
    --footer-bg: #5691d0;
    --btn-bg: #00bbff;
    --btn-hover: #f6fafc;
    --form-bg: aliceblue;
    --hover-bg: #ffcb00;
    --hover-text: #000;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
    --header-bg: #333;
    --border-color: #444;
    --btn-bg:#444;
    --btn-hover: #eeb116;
    --footer-bg: #333;
    --form-bg: #2c2c2c;
    --hover-bg: #ffcb00;
    --hover-text: #000;
}

.dark-mode-toggle {
    background-color: var(--btn-bg);
}
.dark-mode-toggle:hover {
    background-color: var(--btn-hover);
    transform: scale(1.05);
}
.display-font {
    font-family: "Playfair Display", serif;
    font-size: large;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
    background-color: #0b0b33;
}

/* Header Styles */
header {
    background-color: #0a4584;
    padding: 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    /* Add some padding for spacing */
}

header .container img {
    max-height: 60px;
}

header .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .nav-links li {
    list-style-type: none;
    margin-left: 20px;
    /* Default spacing */
}

header .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header .nav-links a:hover {
    color: #ffcb00;
}

/* Reduce header spacing on smaller screens */
@media (max-width: 600px) {
    header {
        padding: 10px 0;
        /* Reduce top-bottom padding */
    }

    header .nav-links li {
        margin-left: 10px;
        /* Reduce spacing between links */
    }

    header .container img {
        max-height: 40px;
        /* Make the logo smaller */
    }
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--text-color);
    padding: 0.5em 1.5em;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;  /* Set the desired width */
    height: 50px;
    border-radius: 10px; /* Set the desired height */
    object-fit: contain; /* Ensures the image scales properly */
    margin-right: 10px; /* Space between logo and text */
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Footer Styles */
footer {
    background-color: var(--footer-bg);
    color: var(--text-color);
    padding: 10px;
    margin-top: 150px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--border-color);
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 8px; /* Default spacing */
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* Reduce footer spacing on smaller screens */
@media (max-width: 600px) {
    .footer-container ul li {
        margin-bottom: 3px; /* Less gap on mobile */
    }

    footer {
        padding: 5px; /* Reduce padding to save space */
    }
}

/* main css  */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    min-height: calc(100vh - 161px);
}

.content-box {
    width: 40em;
}

.form {
    display: flex;
    flex-direction: column;
    width: min-content;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--form-bg);
    box-shadow: 5px blanchedalmond;
    width: 100%;
    border-radius: 10px;
    background: url(/assets/bg-img.webp);
    background-size: 100% 100%;
    height: 100%;
    color: #ffff;
    display: grid;
    grid-template-rows: 1fr auto;
}

#display {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    & h2 {
        margin-bottom: 1em;
    }
}

.temporary {
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
}

#wicon {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}

#wname {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: var(--hover-text);
}

.temp-display-box {
    display: grid;
    grid-template-rows: max-content;
}

#temp {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: var(--hover-text);
    font-size: 3em;
    font-weight: bold;
}

.temp-line {
    color: #190ef3;
    font-weight: normal;
}

.weather-location-box {
    align-self: flex-end;
}

#cname {
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: var(--hover-text);
}

.search-input-box{
    margin-bottom: 1em;
    position: relative;
}

.location-input-box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

#city-input {
    padding: 0.8em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: 1px solid transparent;
    background-color: #3131c623;
    backdrop-filter: blur(5px);
    color: #cecece;
    transition: 0.3s;
}

#city-input::placeholder {
    color: #9e9e9e;
}

#city-input:focus {
    box-shadow: 0 0 6px 1px #5672d0;
    background-color: #2e568fab;
}

#submit-btn {
    border: 1px solid transparent;
    background-color: #16325b;
    color: #ffff;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    aspect-ratio: 1/1;
    outline: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0;
    transition: 0.3s;
    border-left: none;

    & svg {
        width: 20px;
        height: 20px;
    }
}

#submit-btn:hover {
    box-shadow: 0 0 6px 1px #5672d0;
}

/* Header Styles */
header {
    background-color: var(--header-bg);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--border-color);
    width: 100%;
#submit-btn:active {
    background-color: transparent;
}

.w-detail-box {
    width: 50%;
    background-color: #4e5edc44;
    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.oth-weather-content {
    padding: 1em;
}

.w-details-head {
    color: #c0c0c0;
    font-size: 0.85em;
    margin-bottom: 0.2em;
}

.logo-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
}

/* Navigation styles */
nav {
    flex-grow: 1; /* Makes nav take available space */
    text-align: right;
/* Footer Styles */
footer {
    background-color: #0a4584;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
}

.footer-container ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 8px;
    /* Default spacing */
}

nav ul li a {
    color: var(--text-color);
ul li a {
    text-decoration: none;
    color: white;
}

/* Hover effect */
nav ul li a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text);
    border-radius: 5px;
/* responsive css  */
@media screen and (max-width: 676px) {
    .content-box {
        width: 95vw;
    }

    #display {
        padding: 1em;
    }
}

@media screen and (max-width: 515px) {
    .oth-weather-content {
        flex-flow: wrap;
    }

    .w-detail-box {
        width: calc(50% - 0.5em);
    }

    #wicon {
        width: 100px;
    }
}

@media screen and (max-width: 440px) {
    .header-container{
        padding: 0.5em;
    }
    .logo-img{
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    .logo-container h1{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 375px) {
    .w-detail-box {
        width: 100%;
    }
}


/* Reduce footer spacing on smaller screens */
@media (max-width: 600px) {
    .footer-container ul li {
        margin-bottom: 3px;
        /* Less gap on mobile */
    }

    footer {
        padding: 5px;
        /* Reduce padding to save space */
    }
}

/* util classes */
.d-inline-flex {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.f-bold {
    font-weight: bold;
}
}}}}